.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  h1{
    color: gray;
  }

  .img-back {
    bottom: 8px;
    position: absolute;
    left: -16px;
    width: 884px;
  }
}