.taskDetails {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .task-container {
        background-color: #343541;
        width: 550px;
        height: 550px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 16px;

        .task-header {
            border-bottom: 0.7px solid rgba(128, 128, 128, 0.5411764706);
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1 {
                padding-left: 10px;
                margin: 10px;
                display: flex;
                align-items: center;
                gap: 19px;

                span {
                    display: flex;
                    align-items: center;
                    color: gray;
                }
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                background-color: rgba(255, 255, 255, 0);
                color: rgb(208, 204, 204);
                border: none;
                gap: 3px;
                cursor: pointer;

                span {
                    font-size: 15px;

                }
            }
        }

        .code-input {
            height: 100%;
            padding: 8px;
            font-size: 16px;
            line-height: 1.5;
            background-color: #34354100;
            color: aquamarine;

            &:focus {
                outline: none;
                border-color: #47CF72;
                box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
            }
        }

    }
}